[defaults]
inventory = ./inventory.yml
host_key_checking = False
retry_files_enabled = False
stdout_callback = default
result_format = yaml
gathering = explicit
collections_path = ./collections:~/.ansible/collections

[paramiko_connection]
host_key_checking = False
look_for_keys = False
